
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="error-section">
    <img src="../assets/images/error-img.png" alt="" class="img-fluid">
    <div class="error-section-content">
        <h1 class="display-3">Forgot Password Confirmation</h1>
        <p>
            Please check your email to reset your password.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg">@SharedLocalizer.GetString("BackToHomePage")</a>
    </div>
</div>
