@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="error-section">
    <img src="../assets/images/error-img.png" alt="" class="img-fluid">
    <div class="error-section-content">
        <h1 class="display-3">
            Reset Password Confirmation
        </h1>
        <p>
            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg">@SharedLocalizer.GetString("BackToHomePage")</a>
    </div>
</div>
